.page-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 9999;
}

.page-spinner-content {
  display: flex;
  align-items: center;
  justify-content: center;
}